* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}



.navbar {
	background-color: white;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 6;
}

.nav-dx {
	display: flex;
	align-items: center;
	gap: 10px 0;
}

.nav-sx {
	display: flex;
	align-items: center;
	gap: 10px 0;
}

.nav-sx div {
	display: flex;
	align-items: center;
	gap: 10px 0;
}

.navbar a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 10px;
}