* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}



.navbar {
	background-color: white;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 6;
}

.nav-dx {
	display: flex;
	align-items: center;
	gap: 10px 0;
}

.nav-sx {
	display: flex;
	align-items: center;
	gap: 10px 0;
}

.nav-sx div {
	display: flex;
	align-items: center;
	gap: 10px 0;
}

.navbar a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 10px;
}

.para {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	flex-wrap: wrap;
}



.padre {
	position: relative;
	top: 80px;
	background-color: #add8e6;

}

.padrino {
	width: 1200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0% auto;
}
.titolo {
	font-size: 3rem ;
}

.row {
	display: flex;
}

.col-30 {
	width: 30%;
}
.col-40 {
	width: 40%;
}
.col-60 {
	width: 60%;
}
.col-70 {
	width: 70%;
}
.img-block {
	width: 100%;
	display: block;
	flex-shrink: 0;
}
.jumbo {
	width: 650px;
}

.imbott {
	padding-top: 2rem;

}

.padrino p {
	padding bottom: 2rem;
}